@font-face {
  font-family: "Avenir Roman";
  src: url(./assets/fonts/avenir-roman.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Roman", sans-serif;
  text-decoration: none;
}

body {
  background: url("./assets/images/bg.jpg") no-repeat top center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.btn-login {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #f9f9f9;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 16px;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 32px;
  transition: 0.5s ease;
}

.btn-login:hover {
  color: black;
  background: #f9f9f9;
}

.hero-content {
  margin-top: 10px;
  padding-left: 80px;
}

.hero-content > p {
  font-size: 12px;
  line-height: 18px;
  color: rgba(192, 192, 192, 0.8);
  margin-top: 16px;
}

img.franchises {
  max-width: 600px;
  position: absolute;
  bottom: 25px;
}

img.logo {
  max-width: 160px;
}

h1 {
  font-size: 43px;
  line-height: 53px;
  color: #f9f9f9;
  margin: 20px 0 30px 0;
}

.prices-container {
  display: flex;
}

.prices {
  width: 300px;
  max-width: 100%;
  color: rgba(192, 192, 192, 0.8);
}

.prices:first-child {
  display: grid;
}

.prices:first-child a {
  align-self: end;
}

.prices span {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #f9f9f9;
}

.prices a {
  background: #0063e5;
  color: #f9f9f9;
  font-size: 18px;
  display: block;
  margin: 16px 0;
  padding: 16.5px 14px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s ease;
}

.prices a:hover {
  background: #0483ee;
}

.prices + .prices {
  margin-left: 32px;
}
